{block #content}
	<div class="container">
		<section class="realization-page page-section">
			<div class="container">
				<h1 n:block="title">Realizace</h1>
				<p>{box realization}</p>

				<!-- todo vypsat kategorie galerii -->
			</div>
		</section>
	</div>
{/block}
