{block #content}
	<div class="container">
		<section class="realization-page page-section">
			<div class="container">
				<h1 n:block="title">Detail realizace</h1>
				<p>{$gallery->name}</p>
			</div>
		</section>
	</div>
{/block}
