/* open-sans-300 - latin-ext_latin */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: url('../../fonts/open-sans-v20-latin-ext_latin-300.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('../../fonts/open-sans-v20-latin-ext_latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../../fonts/open-sans-v20-latin-ext_latin-300.woff2') format('woff2'), /* Super Modern Browsers */
	url('../../fonts/open-sans-v20-latin-ext_latin-300.woff') format('woff'), /* Modern Browsers */
	url('../../fonts/open-sans-v20-latin-ext_latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../../fonts/open-sans-v20-latin-ext_latin-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-regular - latin-ext_latin */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: url('../../fonts/open-sans-v20-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('../../fonts/open-sans-v20-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../../fonts/open-sans-v20-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
	url('../../fonts/open-sans-v20-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
	url('../../fonts/open-sans-v20-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../../fonts/open-sans-v20-latin-ext_latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-700 - latin-ext_latin */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: url('../../fonts/open-sans-v20-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('../../fonts/open-sans-v20-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../../fonts/open-sans-v20-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
	url('../../fonts/open-sans-v20-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
	url('../../fonts/open-sans-v20-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../../fonts/open-sans-v20-latin-ext_latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}

html, body {
	overflow-x: hidden;
	background: $white;
	color: $gray-800;
	font-size: 17px;
	font-family: 'Open Sans', sans-serif;
}

a {
	font-weight: 500;
}

.btn-outline-secondary {
	border: 1px solid $gray-500;
}

h1 {
	font-size: 1.8rem;
}
h2 {
	font-size: 1.5rem;
	padding: 0 1.5rem;
}
h3 {
	font-size: 1.2rem;
	line-height: 140%;
}

h1, h2, h3 {
	font-weight: 700;
	color: $primary;
}

p {
	max-width: 900px;
}

// navbar
nav {
	.navbar-brand {
		margin-left: 15px;
		font-size: 1.2rem;
		font-weight: 700;

		svg {
			width: 70px;
			height: 70px;
			margin-right: 1rem;
			transition: all .2s ease-in-out;

			&:hover {
				transform: scale(1.04);
			}
		}
	}

	.collapse {
		margin-right: 15px;
	}

	.navbar-nav .nav-link {
		padding-left: 1rem;
	}

	.show {
		.contact-link {
			margin-bottom: .5rem;
		}
	}

	.contact-link {
		color: $white !important;
		background: $secondary;
		padding: .3rem 1rem;
		transition: all .2s ease-in-out;
		margin-right: .5rem;

		&:hover {
			background: darken($secondary, 5%);
		}
	}
}

// galerie
.galerie {

	.img-block {
		margin: 1rem;
	}

	h5 {
		margin-top: 1rem;
		font-weight: 500;
	}

	.img-desc {
		background-color: $gray-100;
		padding: 1rem;
	}

	i {
		font-size: .9rem;
		display: block;
		margin-bottom: 1rem;
	}

	a {
		filter: brightness(95%);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;

		img {
			transition: all .15s ease-in-out;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}

		&:hover {
			text-decoration: none;

			img {
				z-index: 100;
				box-shadow: 0 0 5px 1px rgba($gray-600, .3);
				filter: brightness(105%);
			}
		}
	}
}

.gal {
	padding: 1rem;
	margin-top: 2rem;
	background-color: $gray-100;

	h2 {
		padding-left: 0;
	}

	.img-row {

		img {
			background-color: $gray-300;
			height: 200px;
			width: auto;
			object-fit: contain;
			margin: 1rem 0;
		}
	}

	.btn {
		font-size: 1.1rem;
		font-weight: 700;

		&:hover {
			i {
				left: 1rem;
				opacity: 0;
			}
		}

		i {
			left: 0;
			opacity: 1;
			position: relative;
			transition: all .3s ease-in-out;
			margin-left: .5rem;
		}
	}
}

// header
header {
	padding: 1rem 1rem 0 1rem;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 1rem;

	a {
		transition: all .25s ease-in-out;

		&:hover {
			text-decoration: none;

			h3 {
				background: $primary;
			}
		}
	}

	.header-img {
		height: 250px;
		background: center;
		width: 100%;
		display: flex;
		align-items: flex-end;

		h3 {
			transition: all .25s ease-in-out;
			padding: 1rem;
			margin: 0;
			display: flex;
			width: 100%;
			justify-content: center;
			align-items: center;
			background: rgba($primary, .85);
			color: $white;
		}
	}

	.office-header {
		background: url("../../img/office.jpeg") no-repeat;
		background-size: cover;
		background-position: center;
	}
	.floor-header {
		background: url("../../img/floor.jpeg") no-repeat;
		background-size: cover;
		background-position: center;
	}
	.louver-header {
		background: url("../../img/louver.jpeg") no-repeat;
		background-size: cover;
		background-position: center;
	}
}

.header-links {
	margin: 1rem;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 1rem;

	a, div {
		min-height: 150px;
		background: $primary;
		position: relative;
		display: block;
		z-index: 1;

		&::before {
			transition: all .2s ease-in-out;
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba($gray-800, .6);
		}

		&:hover {
			&::before {
				background: rgba($gray-800, .4);
			}
		}

		h3 {
			text-align: center;
			color: $white;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	img {
		object-fit: cover;
		object-position: center;
	}
}

.page-section {
	margin: 1.5rem 0;
}

.action-links {
	margin: 2rem 1rem;
	display: grid;
	grid-template-columns: 1fr;

	.office-design, .realization {
		padding: 2.5rem .5rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.office-design {
		background: $secondary;
	}
	.realization {
		background: $light-blue;
	}

	.btn {
		font-size: 1.1rem;
		font-weight: 700;

		&:hover {
			i {
				left: 1rem;
				opacity: 0;
			}
		}

		i {
			left: 0;
			opacity: 1;
			position: relative;
			transition: all .3s ease-in-out;
			margin-left: .5rem;
		}
	}

}

// about section
.about-section {
	margin: 2.5rem 0;

	.container {
		display: grid;
		grid-template-columns: 1fr;
	}

	img {
		margin-bottom: 1.5rem;
	}
	h1 {
		text-align: center;
	}

}

// contact page
.contact-page {
	ul {
		margin: .7rem 0;
		list-style-type: none;
		padding-left: 0;
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 1rem;

		li {
			font-size: 1.1rem;
			line-height: 150%;
		}
	}
}

.contact-form {
	background: $secondary;
	color: $white;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 3rem;
	padding: 1rem;

	h4 {
		margin-left: 1rem;
	}

	iframe {
		width: 100%;
		height: 250px;
	}
}

// scrollTopBtn
#scrollTopBtn {
	display: none;
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	z-index: 1000;

	i {
		color: $primary;
		font-size: 2.5rem;
	}
}

// footer
footer {
	padding-left: 1rem;
	padding-right: 1rem;
	margin-top: 2rem;
	font-size: 16px;
	background: $gray-900;
	color: $gray-500;

	iframe {
		margin-top: 1rem;
		width: 100%;
		max-width: 300px;
	}

	h4 {
		color: $white;
		font-size: 1.3rem;
	}

	a {
		color: $gray-300;

		&:hover {
			color: $white;
		}
	}

	.container {
		padding: 2rem 0;
		align-self: start;
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 2rem;

		section {
			text-align: center;
		}

		.footer-brand {
			padding: 0;

			img {
				margin-bottom: 10px;
				transition: all .2s ease-in-out;

				&:hover {
					transform: scale(1.05);
				}

			}
		}

		img {
			height: 60px;
			width: auto;
		}
		ul {
			list-style-type: none;
			padding-left: unset;

			li {
				margin: .2rem;
			}
		}

		a {
			padding: .2rem;
		}

		i {
			margin-right: .4rem;
		}

		.footer-links {
			li li {
				//margin-left: 1rem;
			}
		}
	}

	.author {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 2rem 0;
		color: $gray-700;
		width: 100%;
		position: relative;
		border-top: 1px solid $gray-700;

		svg {
			transition: all .2s ease-in-out;
			fill: $gray-700;
			display: block;
			margin-bottom: .7rem;
			width: 130px;
			height: auto;

			&:hover {
				fill: $gray-500;
			}
		}
	}
}


// gdpr
.gdpr {
	font-size: 0.9rem;
	width: calc(100% - 2rem);
	max-width: 450px;
	position: fixed;
	right: 1rem;
	bottom: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 1rem;
	color: $gray-800;
	background-color: $white;
	z-index: 1000;
	border-radius: $border-radius;

	i {
		color: $brown;
		font-size: 1.5rem;
	}
}
